  <div class="container_fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business wiht us</p>
        <div class="row">
          {{!-- left side --}}
           <div class="col-md-6 col-12 hero-text">
            <figure>
              <img
                src="https://raw.githubusercontent.com/thapatechnical/DynmaicWebsite/0b61a3e0df972564bd79f2174c699fdffbd7f736/images/about.svg"
                alt="">
            </figure>
          </div>
          {{!-- Right Sight --}}
          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>Welcome to<span class="bold_style"> Usman Tech</span>
            ,Your Number One Source for All Things. we"re Dedicated to Giving
            You The Very Best Of Work, With A Focus On [Three Charactristics ,
            Ie:Dependability ,Costumer Service And Uniqueness.]</p>
            <button class="btn-style btn-primary">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>