<div class="container_fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">OUR SERVICES</h1>
            <p class="text-center sub-heading">grow your business wiht us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                     <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                     <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                     <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                     <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                     <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                  <div class="icon">
                                    <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                    <h1>Settings</h1>
                                    <p>Lorem ipsum opaska pojpojpj pojpojpoj.</p>
                                  </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>